<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewUser</servlet-name>
        <servlet-class>controller.NewUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginUser</servlet-name>
        <servlet-class>controller.LoginUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewRestaurant</servlet-name>
        <servlet-class>controller.NewRestaurant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRestaurants</servlet-name>
        <servlet-class>controller.GetRestaurants</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewDish</servlet-name>
        <servlet-class>controller.NewDish</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValoracionesPlato</servlet-name>
        <servlet-class>controller.ValoracionesPlato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListadoDishName</servlet-name>
        <servlet-class>controller.ListadoDishName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaValoracionDish</servlet-name>
        <servlet-class>controller.AltaValoracionDish</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewUser</servlet-name>
        <url-pattern>/NewUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginUser</servlet-name>
        <url-pattern>/LoginUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewRestaurant</servlet-name>
        <url-pattern>/NewRestaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRestaurants</servlet-name>
        <url-pattern>/GetRestaurants</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewDish</servlet-name>
        <url-pattern>/NewDish</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValoracionesPlato</servlet-name>
        <url-pattern>/ValoracionesPlato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListadoDishName</servlet-name>
        <url-pattern>/ListadoDishName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaValoracionDish</servlet-name>
        <url-pattern>/AltaValoracionDish</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
